{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "debug": false,
        "loose": true,
        "modules": false,
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-0"
  ]
}
