{
  "presets": [
    ["env", { "targets": { "browsers": ["last 2 versions", "ie >= 10"] } }],
    "react",
    "stage-0"
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma": "preact.h" }],
    ["transform-object-assign"]
  ]
}
